APP_ENV=dev
DB_CONNECTION_STRING=postgresql+asyncpg://postgres:securepassword@localhost:5432/athomedatabase
REDIS_URL=redis://redis:6379/0

POSTGRES_USER=postgres
POSTGRES_PASSWORD=securepassword
POSTGRES_DB=athomedatabase
